.row {
    padding-left: 50px;
}

#addVoucher{
    margin-left: 310px;
    border: none;
    background: none;
    color:blue ;
}

h1{
    text-align: center;
}

#uploadDirections{
    margin-left: 110px;
    color: Gray;
}